extends layout 
block content 
  .content
    .content-box
      header
        h1 #{title}
        a(href='/category/new') Add Category 
      for x in catList 
        .home-subrows 
          a(href='/category/'+x._id)=x.name
          a.home-a-edit(href='/category/edit/'+x._id) Edit
          a(href='/category/delete/'+x._id) Delete