*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:'Courier New', Courier, monospace; */
    font-family: 'Poppins', sans-serif;
    color: rgb(197, 9, 9);
    font-weight: bold;
    /* border: black 1px solid; */
}

body {
    background: url('./leaves.jpg') no-repeat fixed center; 
}

a{
    text-decoration: none;
    background-color: rgb(218, 218, 218);
    color: inherit;
    padding: .3rem;
    box-shadow: .2rem .2rem 10px rgba(128, 128, 128, 0.74);
}

a:hover{
    background-color: thistle;
}

.content {
    display: flex;
    justify-content: center;
}

.content-box {
    width: 90%;
    margin-top: 7rem;
    background-color: rgba(255, 255, 255, 0.651);
}

.content-box header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.content-box header a{
    font-size: 1.5rem;
    text-decoration: none;
}

button{
	background-color: rgb(218, 218, 218);
	color: inherit;
    padding: .3rem;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    box-shadow: .2rem .2rem 10px rgba(128, 128, 128, 0.74);
}

button:hover{
    background-color: thistle;
}